
<!--
This is just some template code.
You can remove this.
-->

<div class="row">
  <div class="col-md-6 col-md-offset-3 panel" style="text-align: center; padding: 30px 10px; margin-top: 50px; postition: relative; background: url(https://subtlepatterns.com/patterns/geometry2.png);">
    <h1>{{ title }}</h1>
    <p>{{ desc }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 panel" style="padding: 50px 10px; background: url(https://subtlepatterns.com/patterns/geometry2.png);">
    <div class="col-md-6">
      <h3 style="color: #5163ab; font-weight: bold; font-size: 22px;">Technologies</h3>
      <ul style="list-style: none; font-size: 18px; font-weight: bold;">
        <a href="http://gulpjs.com/"><li>Gulp</li></a>
        <a href="http://sass-lang.com/"><li>Scss</li></a>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 style="color: #5163ab; font-weight: bold; font-size: 22px;">Libraries</h3>
      <ul style="list-style: none; font-size: 18px; font-weight: bold;">
        <a href="https://angularjs.org/"><li>Angular.js (v1.4.8)</li></a>
        <a href="http://jquery.com/"><li>jQuery.js (v2.1.4)</li></a>
        <a href="http://getbootstrap.com/"><li>Bootstrap (v3.3.6)</li></a>
        <a href="http://fontawesome.io/"><li>Fontawesome (v4.5.0)</li></a>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 panel" style="text-align: center; padding: 20px 10px; background-image: url(https://subtlepatterns.com/patterns/geometry2.png);">
    <h3>Have fun coding!</h3>
  </div>
</div>
